_setup_logs/**
*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
data/
tensorboard_3d
**/__pycache__/
events.out*
data/
data
ckpt
ckpts/
checkpoints/
release
visualize
data/
output/
*.egg-info/
exps/
logs/
outputs/
__pycache__/
*.pyc
*.zip
*.egg-info/
*.egg
checkpoints/
